.calculator--column{
    margin-top: 25px;
    display: inline-block;
    width: 20vw;
    text-align: center;
    padding: 25px 15px;
}

.calculator--column:nth-of-type(even) {
    border-left: 1px solid rgba(0,0,0,.05);
    border-right: 1px solid rgba(0,0,0,.05);
}

.calculator--title{
    font-weight: 250;
    margin: 10px 0;
    font-size: 1.2em;
}

.calculator--loading{
    text-align: center;
    padding: 25px 0;
    font-size: 1.2em;
}

.calculator--rent-wrapper{
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(0,0,0,.05);
    text-align: center;
}

.calculator--rent-wrapper .calculator--title{
    text-transform: uppercase
}

.calculator--rent-list{
    list-style-type: none;
    padding: 0;
}