.login--title {
    font-weight: 200;
    text-transform: uppercase;
}

.login--wrapper{
    width: 400px;
    margin: 0 auto;
}

input[type='text'], input[type='password'] {
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid rgb(189, 189, 189);
    width: 95%;
}

input[type='submit'] {
    cursor: pointer;
    font-size: 14px;
    border: none;
    padding: 5px 15px;
    text-transform: uppercase;
    background: #ffca05;
    border: 1px solid #cfa200;
    box-shadow: 0 1px 0 #b48d00, inset 0 1px 0 #ffe06e;
    transition: .1s ease all;
    margin-top: 10px;
}

input[type='submit']:disabled {
    cursor: not-allowed;
    background: rgb(209, 209, 209);
    border: 1px solid rgb(167, 167, 167);
    box-shadow: none;
}

.login--form--section {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
}

.login--form--error{
    padding: 10px 15px;
    border: 1px solid rgb(156, 88, 88);
    background: rgb(167, 100, 100);
    color: #fff;
    margin-top: 25px;
}

.login--form--error--title{
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}