.App {
  width: 70vw;
  margin: 0 auto;
  padding-top: 60px;
}

.App-header {
  position: absolute;
  top: 0;
  left: 0; 
  right: 0;
  text-align: center;
  background-color: #ffca05;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.App-title{
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px 0;
  padding-bottom: 0;
}

.App-title--sub{
  color: #856800;
}